<table class="table table-hover">
    <thead>
        <tr>
            <th width="5%">No</th>
            <th>Name</th>
            <th>Description</th>
            <th width="15%">Action</th>
        </tr>
    </thead>

    <tbody>
        {% for d in data %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ d.name }}</td>
                <td>{{ d.description }}</td>
                <td>
                    <button type="button" class="btn btn-primary modal-form" data-bs-toggle="modal" data-bs-target="#modalForm" data-url="{% url 'brand-restapi-update' d.id %}">
                        Update
                    </button>
                    <button type="button" class="btn btn-danger delete" data-url="{% url 'brand-restapi-delete' d.id %}">
                        Delete
                    </button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% include "template/pagination.html" %}